.container {
  display: block;
  min-height: 100vh;
  background-color: rgb(71, 216, 241);
  color: white;
}

.content {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 10%;
}

h2 {
  padding: 10px 15px;
  padding-top: 0px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.header p {
  margin: 0;
  color: rgb(200, 255, 0);
  padding-left: 15px;
  font-size: 15px;
  text-transform: capitalize;
}

.body {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.body h4 {
  padding-top: 10px;
  font-size: 25px;
  letter-spacing: 0.1em;
}

.body p {
  font-size: 18px;
  color: whitesmoke;
  letter-spacing: 0.2em;
}

.mat-divider {
  border-top-color: rgba(255, 255, 0, 0.692);
  border-top-style: dashed;
}

.about {
  margin-bottom: 10px;
}

.about > h4 {
  margin: 0;
}

.card-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

@media (min-width: 700px) {
  .card-avatar {
    height: 140px;
    width: 140px;
  }

  .header {
    grid-template-columns: 0.5fr 3fr;
    align-items: center;
    grid-gap: 1em;
  }

  p a {
    text-decoration: none !important;
    color: black !important;
  }
  p a:hover {
    color: yellow !important;
  }
  .header h2 {
    font-size: 40px;
  }
  .header p {
    font-size: 25px;
  }
}