.toggle-button {
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 28px;
  height: 3px;
  background: white;
}

@media (max-width: 650px) {
  .drawerWrapper > .makeStyles-menuButton-2 {
    margin-right: 0 !important;
  }
}